

t-transform: uppercase;
    letter-spacing: 2px;
    width: 300px;
}
/* Padding below the heading in the game */
.game h4{
    margin-bottom: 1rem;
}

/* Responsiveness  */

/* For screens smaller than 1000px */
@media screen and (max-width: 1000px){
    .game-container{
        width: 80%;
    }
}

/* For screens smaller than 700px */
@media screen and (max-width: 700px){
    .game-conatiner{
        width: 90%;
    }
    .game img{
        height: 100px;
    }
}

/* For screens smaller than 550px */
@media screen and (max-width: 550px){
    .game-container{
        width: 95%;
    }

    .game img{
        width: 100px;
        height: fit-content;
    }
    .title{
        padding: 1rem 1rem;
    }

    .result{
        font-size: 1rem;
    }
}
