

/* Game Container */
.game-container{
    width: 60%; /* Set the width of the game container */
}

/* Title Styling */
.title{
    background: white; /* White background for the title */
    margin: 2rem 0;/* Margin to add space around the title */
    padding: .5rem 0;/* Padding inside the title */

    text-align: center; /* Center-align the title */
    letter-spacing: 2px; /* Space out the letters */
    font-size: 1.5rem; /* Increase the font size */
}

/* Game Area Styling */
.game{
    display: flex;
    justify-content: center; /* Center the game elements horizontally */
    align-items: center; /* Center the game elements vertically */
    gap: 2rem; /* Add space between the game elements */

    border: 5px solid white;/* White border for the game area */
    padding: 3rem 2rem; /* Padding inside the game area */
    text-align: center; /* Center text inside the game area */

    height: 250px;  /* Set the height of the game area */
}

/* Styling for the images inside the game */
.game img{
    width: 130px;
    height: 120px;
}

/* Heading Styling */
h1{
    text-align: center;
    margin: 1rem 0;
}

/* Choices Area */
.choices{
    display: flex;
    justify-content: center;
}

/* Image (Weapon) Styling */
.img{
    width: 100px;
    height: 100px;

    padding: .7rem;
    margin-right: 2rem;

    border-radius: 50%;
    border: .4rem solid black;

    cursor: pointer;

    transition: background .3s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}

/* Hover Effect for Image */
.img:hover{
    background: black;
}

/* Image inside the Weapon Choice */
.img img{
    width: 100%;
}

/* Result Styling */
.result{
    font-size: 1.5rem;
    font-family: monospace, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 300px;
}
/* Padding below the heading in the game */
.game h4{
    margin-bottom: 1rem;
}

/* Responsiveness  */

/* For screens smaller than 1000px */
@media screen and (max-width: 1000px){
    .game-container{
        width: 80%;
    }
}

/* For screens smaller than 700px */
@media screen and (max-width: 700px){
    .game-conatiner{
        width: 90%;
    }
    .game img{
        height: 100px;
    }
}

/* For screens smaller than 550px */
@media screen and (max-width: 550px){
    .game-container{
        width: 95%;
    }

    .game img{
        width: 100px;
        height: fit-content;
    }
    .title{
        padding: 1rem 1rem;
    }

    .result{
        font-size: 1rem;
    }
}
